# Neovim
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
test/
spec/

# Lua
luac.out

# Plugin manager
lazy-lock.json

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
